.off-canvas {
	left: -250px;
	width: 250px;
	height: 100vh;
    position: absolute;
    z-index: 3;
    background: #222333;
    transition: all 100ms linear;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .row {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	margin: 10px;
    	width: 85%;

    	button {
    		display: flex;
    		align-items: center;
	    	margin: 0 10px 0 0;
	        border: 2px solid #22244e;
	        border-radius: 40px;
	        padding: 5px 20px;
	        color: #aeb4b9;
	        text-transform: uppercase;
	        text-align: center;
	        text-decoration: none;
	        font-size: 14px;
	        width: 100%;

	        svg {
	        	font-size: 20px;
	        	margin-right: 10px;
	        	margin-top: 2px;
	        }

    	}

    }

}