body {
  overflow: hidden;
}

.flex {
  display: flex !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.view {
  height: 100vh;
  width: 100vw;
  padding: 40px;
  background: #222333;

  img {
    object-fit: cover;
  }

  .form {
    width: 350px;
    padding: 40px;
    margin: auto;
    z-index: 2;

    .row {
      margin: 10px 0;

      .toggle {
        margin: 10px;
      }

      input,
      label {
        margin: 5px 0;
        color: aliceblue;
      }

      input {
        padding: 10px;
        border-radius: 20px;
        border: 1px solid gray;
        background: none;

        &:hover {
          border: 1px solid dodgerblue;
        }
      }
    }
  }
}
